@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

:root {
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --yellow-color: rgb(255, 255, 0);
  --red-color: rgb(178, 34, 52);
  --covid-color-green: rgb(0, 192, 163);
  --purple-color: rgb(128, 0, 128);
  --gray-color: rgb(178, 180, 178);
  --size: 100vw;
}

/*------------------------------------*\
  #GLOBAL SETTINGS
\*------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  font-family: "Press Start 2P", "arial";
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;
  background-color: var(--black-color);
}

.container {
  width: var(--size);
  height: var(--size);
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white-color);
}

/* disable text selection highlighting */
/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text-white {
  color: var(--white-color);
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-green {
  color: var(--covid-color-green);
}

/*------------------------------------*\
  #GAME.HTML
\*------------------------------------*/

canvas {
  width: 100%;
  border: 1px solid var(--white-color);
}

.top-banner {
  display: grid;
  row-gap: 2px;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "returnMainMenu inGameSoundFx"
    "highScore      level"
    "score          ships";
}

.return-main-menu {
  grid-area: returnMainMenu;
  width: 50%;
}

.ingame-soundfx {
  justify-self: end;
  width: 50%;
  grid-area: inGameSoundFx;
}

.high-score-title,
.high-score {
  margin: 0;
  font-size: 1.4rem;
  grid-area: highScore;
}

.level-header,
.level {
  justify-self: end;
  margin: 0;
  font-size: 1.4rem;
  grid-area: level;
}


.score-title,
.score-value {
  margin: 0;
  font-size: 1.4rem;
  grid-area: score;
}

.lives-header,
.lives {
  justify-self: end;
  margin: 0;
  font-size: 1.4rem;
  grid-area: ships;
}

.controller {
  margin-top: 8px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}

button {
  height: 50px;
  width: 95%;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
  touch-action: manipulation;
  box-shadow: 0 0.2em var(--gray-color);
  background-color: var(--white-color);
  color: var(--purple-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

/* Video Game button styling...https://codepen.io/DanielWeiner/pen/iFadn */
.fire-button {
  font-size: 3rem;
	text-shadow: 1px 1px pink, -1px -1px maroon;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
  grid-column: 3 / 4;
}

.up-button {
  font-size: 3rem;
	text-shadow: 1px 1px lightgreen, -1px -1px darkgreen;
	line-height: 1.3em;
	text-align: center;
	display: inline-block;
	width: 1.6em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	-webkit-box-shadow:  0 .2em darkgreen;
	-moz-box-shadow:  0 .2em darkgreen;
	-o-box-shadow:  0 .2em darkgreen;
	box-shadow:  0 .2em darkgreen;
	color: green;
	margin: 5px;
	background-color: green;
	background-image: -o-linear-gradient(left top, lightgreen 3%, green 22%, darkgreen 99%);
	background-image: -moz-linear-gradient(left top, lightgreen 3%, green 22%, darkgreen 99%);
	background-image: -webkit-linear-gradient(left top, lightgreen 3%, green 22%, darkgreen 99%);
	background-image: linear-gradient(left top, lightgreen 3%, green 22%, darkgreen 99%);
	cursor: pointer;
  padding-left: 2px;
}

.left-button {
  font-size: 3rem;
	text-shadow: 1px 1px lightblue, -1px -1px darkblue;
	line-height: 1.3em;
	text-align: center;
	display: inline-block;
	width: 1.6em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	-webkit-box-shadow:  0 .2em darkblue;
	-moz-box-shadow:  0 .2em darkblue;
	-o-box-shadow:  0 .2em darkblue;
	box-shadow:  0 .2em darkblue;
	color: blue;
	margin: 5px;
	background-color: blue;
	background-image: -o-linear-gradient(left top, lightblue 3%, blue 22%, darkblue 99%);
	background-image: -moz-linear-gradient(left top, lightblue 3%, blue 22%, darkblue 99%);
	background-image: -webkit-linear-gradient(left top, lightblue 3%, blue 22%, darkblue 99%);
	background-image: linear-gradient(left top, lightblue 3%, blue 22%, darkblue 99%);
	cursor: pointer;
  padding-left: 2px;
}

.right-button {
  font-size: 3rem;
	text-shadow: 1px 1px lightyellow, -1px -1px orange;
	line-height: 1.3em;
	text-align: center;
	display: inline-block;
	width: 1.6em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	-webkit-box-shadow:  0 .2em orange;
	-moz-box-shadow:  0 .2em orange;
	-o-box-shadow:  0 .2em orange;
	box-shadow:  0 .2em orange;
	color: yellow;
	margin: 5px;
	background-color: yellow;
	background-image: -o-linear-gradient(left top, lightyellow 3%, yellow 22%, orange 99%);
	background-image: -moz-linear-gradient(left top, lightyellow 3%, yellow 22%, orange 99%);
	background-image: -webkit-linear-gradient(left top, lightyellow 3%, yellow 22%, orange 99%);
	background-image: linear-gradient(left top, lightyellow 3%, yellow 22%, orange 99%);
	cursor: pointer;
  padding-left: 2px;
}

.fire-button:active,
.up-button:active,
.right-button:active,
.left-button:active  {
	box-shadow: none;
	position: relative;
	top: .2em;
}

/*------------------------------------*\
  #INDEX.HTML
\*------------------------------------*/

.header-bg-image {
  background-image:url("../images/menu-image-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100%;
}

.header-text {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.game-title-text {
  align-self: center;
  font-size: 8vw;
}

.game-story-text {
  font-size: 4vw;
  line-height: 5vw;
}

.start-button {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--red-color);
  border: 1px solid var(--white-color);
}

.menu-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*------------------------------------*\
  #SCORE.HTML
\*------------------------------------*/

.high-score-menu {
  font-size: 12vw;
}

/*------------------------------------*\
  #SOUND.HTML
\*------------------------------------*/

.sound-options {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

/* Small Container */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .game-title-text {
    font-size: 4vh;
  }

  .game-story-text {
    font-size: 2vh;
    line-height: 3.5vh;
  }

  .high-score-menu {
    font-size: 8vh;
  }
}

/* iPad and Medium Container */
@media (min-width: 768px) {
  /* reset root 'size' variable to vh instead of vw */
  :root {--size: 85vh;}

  .header-bg-image {
    background-image: url("../images/menu-image.jpg");
  }

  .container {
    max-width: 720px;
  }

  .game-title-text {
    font-size: 5vh;
  }
}

/* Large Container */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .game-title-text {
    font-size: 5vh;
  }
}

/* Extra Large Container */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
