@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@300&display=swap");

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

:root {
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --yellow-color: rgb(255, 255, 0);
  --red-color: rgb(178, 34, 52);
  --covid-color-green: rgb(0, 192, 163);
  --purple-color: rgb(128, 0, 128);
  --gray-color: rgb(178, 180, 178);
  --dashboard-blue: rgb(2, 175, 255);
  --game-body: rgb(39, 39, 39);
  --red-controller: rgb(255, 0, 0);
  --pink-controller: rgb(255, 192, 203);
  --maroon-controller: rgb(128, 0, 0);
  --lightgreen-controller: rgb(144, 238, 144);
  --darkgreen-controller: rgb(0, 100, 0);
  --green-controller: rgb(0, 128, 0);
  --lightblue-controller: rgb(173, 216, 230);
  --blue-controller: rgb(0, 0, 255);
  --darkblue-controller: rgb(0, 0, 139);
  --lightyellow-controller: rgb(255, 255, 224);
  --orange-controller: rgb(255, 165, 0);
  --size: 100vw;
}

/*------------------------------------*\
  #GLOBAL SETTINGS
\*------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  font-family: "Press Start 2P", sans-serif, arial;
  touch-action: none; /* disable browser handling of all panning and zooming gestures. https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action */
  pointer-events: none; /*prevent zooming in on elements when playing on mobile*/
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /*Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
   user-select: none; /* ensures text is not selectable */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--black-color);
}

.container {
  width: var(--size);
  height: var(--size);
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--white-color);
}

.text-white {
  color: var(--white-color);
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-green {
  color: var(--covid-color-green);
}

/*------------------------------------*\
  #GAME.HTML
\*------------------------------------*/

canvas {
  width: 100%;
  border: 1px solid var(--white-color);
  background-image: url("../images/background.jpg");
}

.top-banner {
  display: grid;
  row-gap: 2px;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "returnMainMenu inGameSoundFx inGame-music"
    "highScore      level         level"
    "score          ships         ships";
}

.return-main-menu {
  grid-area: returnMainMenu;
  width: 80%;
}

.ingame-soundfx {
  width: 80%;
  justify-self: center;
  grid-area: inGameSoundFx;
}

.ingame-music {
  justify-self: end;
  width: 80%;
  grid-area: inGame-music;
}

.high-score-title,
.high-score {
  color: var(--dashboard-blue);
  font-family: "Roboto Mono", sans-serif, arial;
  margin: 0;
  font-size: 1.4rem;
  grid-area: highScore;
}

.level-header,
.level {
  color: var(--dashboard-blue);
  font-family: "Roboto Mono", sans-serif, arial;
  justify-self: end;
  margin: 0;
  font-size: 1.4rem;
  grid-area: level;
}

.score-title,
.score-value {
  color: var(--dashboard-blue);
  font-family: "Roboto Mono", sans-serif, arial;
  margin: 0;
  font-size: 1.4rem;
  grid-area: score;
}

.lives-header,
.lives {
  color: var(--dashboard-blue);
  font-family: "Roboto Mono", sans-serif, arial;
  justify-self: end;
  margin: 0;
  font-size: 1.4rem;
  grid-area: ships;
}

.controller {
  margin-top: 8px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

button {
  height: 50px;
  width: 100%;
  font-size: 0.7rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0.2em var(--gray-color);
  background-color: var(--white-color);
  color: var(--purple-color);
  border-radius: 10px;
  line-height: 1rem;
  pointer-events: auto;
}

/* Video Game button styling based on https://codepen.io/DanielWeiner/pen/iFadn */
.fire-button {
  font-size: 2.5em;
  text-shadow: 1px 1px var(--pink-controller), -1px -1px var(--maroon-controller);
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  border-radius: 0.75em;
  color: var(--red-controller);
  -webkit-box-shadow: 0 0.2em var(--maroon-controller); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0.2em var(--maroon-controller); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0.2em var(--maroon-controller); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin: 5px;
  background-color: var(--red-controller);
  background: linear-gradient(to bottom, red, maroon);
  cursor: pointer;
  padding-left: 5px;
  pointer-events: auto;
}

.up-button {
  font-size: 2.5rem;
  text-shadow: 1px 1px var(--lightgreen-controller), -1px -1px var(--darkgreen-controller);
  line-height: 1.3em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  border-radius: 0.75em;
  color: var(--green-controller);
  -webkit-box-shadow: 0 0.2em var(--darkgreen-controller);
  -moz-box-shadow: 0 0.2em var(--darkgreen-controller);
  box-shadow: 0 0.2em var(--darkgreen-controller);
  margin: 5px;
  background-color: var(--green-controller);
  background: linear-gradient(to top, green, darkgreen);
  cursor: pointer;
  padding-left: 2px;
  pointer-events: auto;
}

.left-button {
  font-size: 2.5rem;
  text-shadow: 1px 1px var(--lightblue-controller), -1px -1px var(--darkblue-controller);
  line-height: 1.3em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  border-radius: 0.75em;
  color: var(--blue-controller);
  -webkit-box-shadow: 0 0.2em var(--darkblue-controller);
  -moz-box-shadow: 0 0.2em var(--darkblue-controller);
  box-shadow: 0 0.2em var(--darkblue-controller);
  margin: 5px;
  background-color: var(--blue-controller);
  background: linear-gradient(to left, blue, darkblue);
  cursor: pointer;
  padding-left: 2px;
  pointer-events: auto;
}

.right-button {
  font-size: 2.5rem;
  text-shadow: 1px 1px var(--lightyellow-controller), -1px -1px var(--orange-controller);
  line-height: 1.3em;
  text-align: center;
  display: inline-block;
  width: 1.5em;
  border-radius: 0.75em;
  color: var(--yellow-color);
  -webkit-box-shadow: 0 0.2em var(--orange-controller);
  -moz-box-shadow: 0 0.2em var(--orange-controller);
  box-shadow: 0 0.2em var(--orange-controller);
  margin: 5px;
  background-color: var(--yellow-color);
  background: linear-gradient(to right, yellow, orange);
  cursor: pointer;
  padding-left: 2px;
  pointer-events: auto;
}

.fire-button:active,
.up-button:active,
.right-button:active,
.left-button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.game-over-button-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "menu playAgain";
  grid-gap: 10px;
}

.menu-game-over-button {
  grid-area: menu;
}

.play-again-button {
  background-color: var(--red-color);
  color: var(--white-color);
  grid-area: playAgain;
  justify-self: end;
}

.game-over-prompt {
  display: none;
  text-align: center;
  position: absolute;
  font-size: 1.2rem;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Chrome 4-35, Safari 3-8, Opera 15-22 */
  -moz-transform: translate(-50%, -50%); /* Firefox 3-15 */
  transform: translate(-50%, -50%);
  padding: 3px 3px 3px 3px;
}

.game-over-prompt > p {
  font-family: "Roboto Mono", sans-serif, arial;
}

.game-over-score {
  font-family: "Roboto Mono", sans-serif, arial;
  color: var(--dashboard-blue);
}

/*------------------------------------*\
  #INDEX.HTML
\*------------------------------------*/

.header-bg-image {
  background-image: url("../images/menu-image-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.header-text {
  margin: 10px;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.title-text {
  align-self: center;
  font-size: 8vw;
}

.game-story-text {
  font-size: 4vw;
  line-height: 5vw;
}

.start-button {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--red-color);
  border: 1px solid var(--white-color);
}

.menu-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*------------------------------------*\
  #SCORE.HTML
\*------------------------------------*/

.high-score-menu {
  font-size: 12vw;
}

/*------------------------------------*\
  #HOW-TO-PLAY.HTML
\*------------------------------------*/

.how-to-play-text,
.text-underline {
  font-family: "Roboto Mono", sans-serif, arial;
  color: var(--white-color);
  font-size: 5vw;
}

.text-yellow {
  color: var(--yellow-color);
  font-size: 6vw;
  font-family: "Roboto Mono", sans-serif, arial;
}
/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

/* iPhone 6/7/8*/
@media (min-width: 375px) {
  .game-over-prompt {
    font-size: 1.2rem;
    top: 45%;
  }

  .top-banner {
    margin-top: 1rem;
    row-gap: 0.5rem;
  }

  .fire-button,
  .up-button,
  .left-button,
  .right-button {
    font-size: 3em;
  }
}

/* XSmall to Small */
@media (min-width: 520px) {
  .game-over-prompt {
    font-size: 1.2rem;
    top: 25%;
  }
}

/* XSmall to Small | Surface Duo */
@media (min-width: 540px) {
  .game-over-prompt {
    font-size: 1.2rem;
    top: 30%;
  }

  .how-to-play-text,
  .text-underline {
    font-size: 3vh;
  }

  .text-yellow {
    font-size: 3vh;
  }
}

/* Small Container */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .title-text {
    font-size: 4vh;
  }

  .game-story-text {
    font-size: 2vh;
    line-height: 3.5vh;
  }

  .high-score-menu {
    font-size: 8vh;
  }

  .game-over-prompt {
    font-size: 1.5rem;
    top: 30%;
  }
}

/* iPad and Medium Container */
@media (min-width: 768px) {
  /* reset root 'size' variable to vh instead of vw */
  :root {
    --size: 85vh;
  }

  .header-bg-image {
    background-image: url("../images/menu-image.jpg");
  }

  .container {
    max-width: 720px;
  }

  .title-text {
    font-size: 5vh;
  }

  .game-over-prompt {
    font-size: 1.5rem;
    top: 30%;
  }

  .controller {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  .fire-button,
  .up-button,
  .left-button,
  .right-button {
    font-size: 3.5em;
  }

  .left-button {
    justify-self: end;
  }

  .fire-button {
    grid-column: 3 / 4;
  }
}

/* Large Container */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .title-text {
    font-size: 5vh;
  }

  .game-over-prompt {
    font-size: 2rem;
    top: 35%;
  }

  .fire-button,
  .up-button,
  .left-button,
  .right-button {
    font-size: 4em;
  }
}

/* Larger than iPad Pro */
@media (min-width: 1025px) {
  body {
    /* http://www.heropatterns.com/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2302afff' fill-opacity='0.21'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}

/* Extra Large Container */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .controller {
    display: none;
  }
}
