@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

:root {
    --covid-color-green:  rgb(0, 192, 163); 
    --background-color-black: black; 
    --white-color: white; 
    --yellow-color: yellow; 
    --red-color: rgb(178, 34, 52); 
    --blue-color:rgb(60, 59, 110); 
}

html {
    box-sizing: border-box; 
}

body {
    padding: 0; 
    width: 800px; 
}

.welcome-container {
    background-color: var(--background-color-black);
    height: 600px; 
    display: grid; 
    grid-template-columns: 800px;
    grid-template-rows: 0.5fr 1fr 1.5fr;
    justify-items: center;
}

.text-game-name {
    margin-top: 100px; 
    color: var(--white-color);
    font-size: 4rem; 
}

.font-atari {
    color: var(--white-color);
    font-family: "Press Start 2P", "arial"; 
}

.text-color-game-name {
    color: var(--covid-color-green);
}

.game-overview-container {
    color: var(--white-color);
    margin: 0 20%;
    line-height: 1.2rem; 
    font-size: 1rem; 
    font-family: "Ubuntu Mono";
}

.text-game-overview {
    color: var(--white-color);
    font-family: "Press Start 2P", "arial"; 
    font-size: 0.8rem;
}

.text-your-mission {
    margin-top: 2rem; 
}

.text-underline {
    text-decoration: underline;
}

.play-button {
    margin-top: 2rem;
    color: var(--background-color-black);
    background-color: var(--yellow-color);
    height: 40px;
    padding: 10px;  
}

.menu-options {
    margin-top: 4px; 
    display: grid; 
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-options-how {
    background-color:var(--red-color);
    color: var(--white-color);
    font-size: 0.7rem;
    height: 40px;
    padding: 10px;  
}

.menu-options-sound {
    color: var(--background-color-black);
    background-color: var(--white-color);
    font-size: 0.7rem;
    height: 40px;
    padding: 10px;  
}

.menu-options-score {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 0.7rem;
    height: 40px;
    padding: 10px;  
}

.score-header {
    background-color: var(--background-color-black);
    color: var(--white-color);
    font-family: "Press Start 2P", "arial"; 
    margin: 0; 
    padding: 10px; 
    font-size: 1.2rem; 
}

.score {
    color: var(--yellow-color);
    margin: 0; 
    padding: 0; 
    font-size: 1.2rem; 
}

.high-score {
    font-size: 5rem; 
}

.arrow {
    font-size: 2rem; 
}
